.authpage{
    max-width: 1200px;
    height: 85vh;
    margin: 2em auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    /* padding: 1em; */
    display: flex;
    overflow: hidden;
    position: relative;
}

.login {
    width: 50%;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 10px;
    /* transition: all 1s linear; */
}

/* .loginpage{
    height: 100%;
    background-color: var(--text-color);
    color: var(--main-color);
    transition: all 1s linear;
} */

.signup{
    width: 50%;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 10px;
    position: absolute;
    right: 0;
    height: 100%;
    /* transition: all 1s linear; */
}

/* .signuppage{
    height: 100%;
    background-color: var(--text-color);
    color: var(--main-color);
    transition: all 1s linear;
} */

.active {
    height: 100%;
    background-color: var(--text-color);
    color: var(--main-color);
    position: absolute;
    top: 0;
    width: 50%;
}

/* .togleright {
    transform: translateX(0%);
    transition: transform 1s linear;
}

.active .togleright{
    transform: translateX(-100%);
    transition: transform 1s linear;
}

.togleleft {
    transform: translateX(0%);
    transition: transform 1s linear;
}

.active .togleleft {
    transform: translateX(100%);
    transition: transform 1s linear;
} */