.bodyFlex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 2rem; */
    height: 100dvh;
    /* background: linear-gradient(45deg, red 0%, yellow 100%);
    filter: blur(10px); */
}

.introtext {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.herotext {
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0 0 0;
    height: 25px;

    & svg {
        height: 100%;
        width: 100%;
    }
}

.infinity {
    position: relative;
    width: 212px;
    height: 100px;
    box-sizing: content-box;
}

.infinity:before,
.infinity:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
    border: 20px solid;
    background-clip: padding-box;
    transition: box-shadow 0.3s ease;
    z-index: 1;
}

.infinity:hover:before,
.infinity:hover:after {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.infinity:after {
    left: 54%;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
    z-index: 1;
}

.alltext,
.imtext {
    margin-left: 15px;
    height: 35px;
    line-height: 36px;
    overflow: hidden;

    & li {
        text-transform: uppercase;
        font-size: calc(25px + var(--font-size));
        font-weight: bold;
        position: relative;
        padding: 0 0 1rem 0;
        top: 0;
        animation: slide 8s steps(2) infinite;
    }
}

@keyframes slide {
    100% {
        top: -105px;
    }
}

.alltext li span {
    position: relative;
}

.alltext li span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: var(--text-color);
    border-left: 5px solid var(--main-color);
    white-space: nowrap;
    animation: typing 3s infinite linear alternate-reverse, cursor .3s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

@media (width <=770px) {
    .bodyFlex {
        flex-direction: column-reverse;
    }

    .alltext,
    .imtext {
        height: clamp(10px, 20px, 30px);
        line-height: clamp(10px, 20px, 30px);

        & li {
            font-size: clamp(10px, 20px, 30px);
        }
    }

    .skills {
        gap: .5rem;
    }

    @keyframes slide {
        100% {
            top: -70px;
        }
    }
}