.Intropage{
    position: absolute;
    z-index: 5;
    /* background-color: lightblue; */
    height: 100dvh;
    width: 100%;
    overflow: hidden;
}

.text {
    font: 6rem bold;
}

.cricule{
    overflow: hidden;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column-reverse;
}

.criculeColor{
    width: 2px;
    background-color: var(--main-color);
    bottom: 0;
}

.criculeNumber {
    position: absolute;
    display: contents;
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: x-large;
}

.template {
    min-height: 72dvh;
}

@media (width >= 2560px) {
    .template {
        min-height: 90dvh;
    }
}