.project{
    max-width: 1200px;
    margin: 2em auto;
}

.projectbox{
    padding: 1em;
    border-radius: 10px;
    border: 1px solid;
    display: block;
    gap: 1em;
    margin: 0 0 1em 0;
    /* box-shadow: 0 0 10px 1px; */
}

.imagecontainor{
    position: relative;
    width: 210px;
    aspect-ratio: 1 / 1;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    float: left;
    margin: 0 2em 1em 0;
}

.imagebox{
    position: absolute;
    inset: 0px;
}

.projectimg{
    display: block;
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
}

.projectdetails{
    /* min-width: 400px; */
    /* width: 840px; */
    text-align: justify;
}

.projecttext::first-letter{
    initial-letter: 2;
    color: var(--black-color);
    margin: 0 0.5em 0 0;
}

@media (width <= 1200px) {
    .project{
        margin: 2em 1em;
    }
}

@media (width <= 430px) {
    .projectbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagecontainor{
        margin: 0 0 1em 0;
    }
}