.scrollbutton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    mix-blend-mode: difference;
    border: 0;
    cursor: pointer;
    scale: 1;
    transition: scale 0.3s ease-in-out;
    /* color: var(--black-color); */
    z-index: 999;
    /* background-color: var(--black-color); */
}

.scrollbutton:hover {
    scale: 1.2;
    transition: scale 0.3s ease-in-out;
}