@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-primary: #121826;
  --color-primary-dark: #0d111b;
  --color-primary-light: #1e2433;
  --color-secondary: #a1a9bd;
  --color-secondary-light: #d0d7e9;
  --color-accent: #ff6b6b;
  --color-accent-dark: #d65151;
  --color-accent-light: #ff9292;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}