.adminpage {
    max-width: 1200px;
    margin: 2em auto;
    height: 70dvh;
    border-radius: 10px;
    display: flex;
    padding: 1em;
    flex-direction: row;
}

.adminitem {
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
    padding: 1em;
}

.button {
    padding: 1em;
    font-size: calc(10px + var(--font-size));
    background-color: var(--background-color);
    border: none;
    outline: none;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: width .3s;
}

.button:hover::after {
    width: 100%;
    transition: width .3s;
}

.button:active::after {
    width: 100%;
}

.admindetails{
    border: 1px solid;
    border-radius: 10px;
    width: clamp(300px, 70%, 1000px);
    overflow: scroll;
}

.contacttable {
    width: 100%;
    font-size: 1em;
    text-align: left;
}

.contacttable thead tr {
    text-align: left;
    font-weight: bold;
}

.contacttable th,
.contacttable td {
    padding: 1em 0em 1em 1em;
}

.contacttable tbody tr {
    border-bottom: 1px solid;
}

.contacttable tbody tr:last-of-type {
    border-bottom: 2px solid;
}

.contacttable tbody tr:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    cursor: pointer;
}

.deletebtn {
    border: 1px solid;
    border-radius: 6px;
    padding: 0.5em;
    color: var(--main-color);
    /* box-shadow: 3px 3px 3px 0px var(--black-color), -3px -3px 3px var(--white-color); */
}