.NavBar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* background-color: var(--nav-bar); */
    color: var(--main-color);
    z-index: 2;
    /* mix-blend-mode: difference; */

    .navlink {
        color: var(--main-color);
    }
}

.navMask {
    color: var(--text-color);
    background-color: var(--main-color);
    /* clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%); */
    /* transition: background-color .3s cubic-bezier(.83, 0, .17, 1); */
    transition: all .3s cubic-bezier(.83, 0, .17, 1);

    .navlink{
        color: var(--text-color);
    }
}

.SubNav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navlink{
    font-weight: bold;
    font-size: calc(15px + var(--font-size));
}

.menu {
    font-size: calc(20px + var(--font-size));
    z-index: 2;
}

.lodingbox{
    display: flex;
    gap: 1em;
}

.lodingdiv{
    width: 80px;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(90deg, var(--main-color) 0%, var(--text-color) 50%, var(--main-color) 100%);
    background-size: 200% 100%;
    animation: shimmering 1.5s linear infinite;
}

@keyframes shimmering {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@media (width <= 770px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
    
    .SubNavmobile{
        height: 100%;
        width: 500px;
        background-color: black;
        position: fixed;
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
        top: 0;
        right: 0;
        padding: 3rem 0 0 0;
        clip-path: circle(100px at 90% 10%);
        -webkit-clip-path: circle(100px at 90% 10%);
        transition: all .5s ease-out;
    }

    .subactive{
        right: 0;
        clip-path: circle(1100px at 90% 10%);
        -webkit-clip-path: circle(1100px at 90% 10%);
    }

    .subclose {
        right: -100%;
    }
}

@media (width > 770px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}

@media (width <= 430px) {
    .SubNavmobile{
        width: 100%;
    }
}